@model DataAccessLayer.Models.Message
@using ForumApp.Properties;

<div class="modal show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close back" data-dismiss="modal" area-hidden="true">X</button>
                <h4>@Resources.DeleteMessageTitle</h4>
            </div>
            @using (Html.BeginForm("DeleteMessage", "Home", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.MessageID)
                    <h2>@Resources.ConfirmDelMes</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary back">@Resources.No</button>
                    <button type="submit" class="btn btn-primary">@Resources.Yes</button>
                </div>
            }
        </div>
    </div>
</div>