@model PagedList.IPagedList<DataAccessLayer.Models.Topic>
@using PagedList.Mvc;

@if (User.Identity.IsAuthenticated)
{
    <button type="button" class="btn btn-info CreateTopic" style="margin-top: 10px;">CreateTopic</button>

    if (User.IsInRole("Administrator"))
    {
        <button type="button" class="btn btn-info" style="margin-top: 10px;" onclick="location.href='@Url.Action("ShowUsers", "Home")'">Show Users</button>
    }
}

<table class="table table-hover">
    <colgroup>
        <col style="width: 1%;">
        <col style="width: 60%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 1%;">
    </colgroup>
    <thead class="thead-inverse">
        <tr>
            <th>@Html.DisplayName("#")</th>
            <th>@Html.DisplayName("Topic")</th>
            <th>@Html.DisplayName("Author")</th>
            <th>@Html.DisplayName("Last message")</th>
            <th>@Html.DisplayName("Count message")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataAccessLayer.Models.Topic topic in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => topic.TopicID)</td>
                <td>
                    @Html.ActionLink(topic.TopicName, "ViewTopic", "Home", new { topicID = topic.TopicID }, null)
                    @if (User.Identity.Name.Equals(topic.mes.MessageAuthor) || User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("[Edit]", "EditTopic", "Home", new { topicID = topic.TopicID }, null)
                    }
                </td>
                <td>@Html.DisplayFor(model => topic.mes.MessageAuthor)</td>
                <td>@Html.DisplayFor(model => topic.LastMessage)</td>
                <td>@Html.DisplayFor(model => topic.CountMessage)</td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>