@model PagedList.IPagedList<DataAccessLayer.Models.Topic>
@using PagedList.Mvc;
@using ForumApp.Properties

@if (User.Identity.IsAuthenticated)
{
    <button type="button" class="btn btn-info CreateTopic" style="margin-top: 10px;">@Resources.CreateTopicTitle</button>

    if (User.IsInRole("Administrator"))
    {
        <button type="button" class="btn btn-info" style="margin-top: 10px;" onclick="location.href='@Url.Action("ShowUsers", "Home")'">@Resources.ShowUsers</button>
    }
}

<table class="table table-hover">
    <colgroup>
        <col style="width: 1%;">
        <col style="width: 60%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
        <col style="width: 1%;">
    </colgroup>
    <thead class="thead-inverse">
        <tr>
            <th>@Html.DisplayName("#")</th>
            <th>@Html.DisplayName(Resources.TopicName)</th>
            <th>@Html.DisplayName(Resources.Author)</th>
            <th>@Html.DisplayName(Resources.LastMessage)</th>
            <th>@Html.DisplayName(Resources.CountMessages)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataAccessLayer.Models.Topic topic in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => topic.TopicID)</td>
                <td>
                    @Html.ActionLink(topic.TopicName, "ViewTopic", "Home", new { topicID = topic.TopicID }, null)
                    @if (User.Identity.Name.Equals(topic.mes.MessageAuthor) || User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink(Resources.EditInBlock, "EditTopic", "Home", new { topicID = topic.TopicID }, null)
                    }
                </td>
                <td>@Html.DisplayFor(model => topic.mes.MessageAuthor)</td>
                <td>@Html.DisplayFor(model => topic.LastMessage)</td>
                <td>@Html.DisplayFor(model => topic.CountMessage)</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Resources.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>