@model Task01.CustEmpShipViaID

@{ 
    List<SelectListItem> list1 = new List<SelectListItem>();
    List<SelectListItem> list2 = new List<SelectListItem>();
    List<SelectListItem> list3 = new List<SelectListItem>();

    foreach (var i in Model.CustomerListID)
    {
        list1.Add(new SelectListItem() { Text = i });
    }

    foreach (var i in Model.EmployeeListID)
    {
        list2.Add(new SelectListItem() { Text = i.ToString() });
    }

    foreach (var i in Model.ShipViaListID)
    {
        list3.Add(new SelectListItem() { Text = i.ToString() });
    }
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Create order</h4>
    </div>
    @using (Html.BeginForm("CreateOrder", "Orders", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CustomerListID)</dt>
                <dd class="col-sm-9">@Html.DropDownListFor(model => model.custID, list1, new { @class = "form-control" })</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EmployeeListID)</dt>
                <dd class="col-sm-9">@Html.DropDownListFor(model => model.empID, list2, new { @class = "form-control" })</dd>     
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ShipViaListID)</dt>
                <dd class="col-sm-9">@Html.DropDownListFor(model => model.shipVia, list3, new { @class = "form-control" })</dd> 
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ShipName)</dt>
                <dd class="col-sm-9">@Html.TextBoxFor(model => model.ShipName, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.ShipName)</dd> 
            </dl>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create order</button>
        </div>
    }
</div>